* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

input {
  background-color: #dadada;
}

button {
  background-color: #00728d;
  color: white;
}

input:focus {
  outline: 0;
}

input,
button {
  font-size: 1.2rem;
  border: 0;
  border-radius: 5px;
  padding: 12px;
  margin-right: 12px;
}

input:hover,
button:hover {
  filter: brightness(0.9);
}

input:user-invalid {
  border: 1px solid red;
}

.current-weather {
  width: 600px;
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  text-align: center;
}

.left-div {
  display: flex;
  gap: 12px;
  font-size: 2rem;
}

.temp-info {
  position: relative;
}

.degree {
  display: flex;
  font-size: 1rem;
  position: absolute;
  right: -20px;
  bottom: 25px;
}

.extra-info {
  font-size: 1rem;
}

.datetime-div {
  display: flex;
  gap: 8px;
}

.days {
  display: flex;
  gap: 12px;
  font-size: 1rem;
}

.day-div {
  text-align: center;
  padding: 12px;
  border-radius: 5px;
}

.day-div:hover {
  background-color: #c9c9c9;
  transition: background-color 0.2s;
}

.selected-day {
  background-color: #e7e7e7;
}

.temps-div {
  display: flex;
  gap: 8px;
}

.temp-min {
  color: #545454;
}

img {
  width: 2.5em;
  height: 2.5em;
}

.hide-current-icon {
  display: none;
}

.hours-div {
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 0.8rem;
}

.hour-div {
  text-align: center;
}
